@import 'variables.scss';
@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
  padding: 0;
  margin: 0;
  scroll-behavior: smooth;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

body {
    overflow: hidden;
}

h1 {
    font-family: $title;
    font-size: 48px;
}

p, a, li {
    font-family: $montserrat-regular;
}

button, .button {
    background-color: $main-red;
    border-radius: 50px;
    padding: 0.5em 2em;
    color: #fff;
    border: solid 1px $main-red;
    transition: all 400ms ease-in-out;

    &:hover {
        background-color: #FFF;
        color: $main-red;
    }
}

.regular-font {
    font-family: $montserrat-regular;
}

.secondary-button {
    background-color: white;
    color: black;
}

.empty-font {
    -webkit-text-stroke: 1px white;
    color: transparent;
}

.empty-font-black {
    -webkit-text-stroke: 1px black;
    color: transparent;
}

.full-font-black {
    -webkit-text-stroke: 1px black;
    color: black;
}

.full-font-white {
    -webkit-text-stroke: 1px white;
    color: white;
}

.image1 {
    background-image: url('/assets/images/banner-bg.jpg');
    opacity: 1;
}

.image2 {
    background-image: url('/assets/images/beafeter.png');
    background-repeat: no-repeat;
    background-position: center;
    background-color: #DADBDF;
    opacity: 1;

}

//Scroll text

.conocenos {
    span {
        cursor: crosshair;
    }
}
.scrolltext-container {
    display: flex;
    align-items: center;
    height: 20vh;
    overflow: hidden;
}

.scroll {
    white-space: nowrap;
    margin: 0 2em;
}

.scroll div {
    display: flex;
    gap: 2em;
}

.scroll p {
    font-size: 5em;
    font-weight: bold;
    line-height: 0;
}

.rightToLeft {
    animation: rightToLeft 45s infinite linear;
}

@keyframes rightToLeft {
    from {
        transform: translateX(0%);
    }
    to {
        transform: translateX(-50%);
    }
}

.leftToRight {
    animation: leftToRight 45s infinite linear;
}

@keyframes leftToRight {
    from {
        transform: translateX(-50%);
    }
    to {
        transform: translateX(0%);
    }
}

//Conocenos Menu
.conocenos {
    h1 {
        font-size: 68px;
    }
}


.close-svg {
    transform: rotate(45deg);
    filter: invert(99%) sepia(16%) saturate(2%) hue-rotate(158deg) brightness(113%) contrast(100%);
    cursor: pointer;
}

.close-svg-modal {
    transform: rotate(45deg);
    cursor: pointer;
    position: absolute;
    top: 6rem;
    right: 10%;
    z-index: 20;
}

.menu {
    transform: translateX(100%);
    transition: all 600ms ease;
    background-color: #000;
    z-index: 50;
}

.menu-open {
    transform: translateX(0);
  }

.backdrop {
    display: none;
    position: absolute;
    font-size: larger;
    opacity: 0;
    transition: opacity 500ms ease-in-out;
}

.backdrop-open {
    display: block;
    cursor: pointer;
    z-index: 30;
    right: 2%;
    font-weight: bold;
    opacity: 1;
}

.menu-section {
    height: 500px;
    width: 250px;
    border: solid 1px $main-red;
    transition: background-color 200ms ease-in-out;
    position: relative;
    margin: 25px 0;

    h1 {
        font-size: 42px;
        transform: rotate(-90deg);
        color: $main-red;
        position: relative;
        top: 60%;
        left: 25%;
        line-height: normal;
    }

    .sustentable {
        top: 56.5%;
    }

    .menu-svg {
        filter: invert(99%) sepia(16%) saturate(2%) hue-rotate(158deg) brightness(113%) contrast(100%);
        position: absolute;
        left: 20px;
        top: 30px;
      }


    &:hover {
        background-color: $main-red;
        cursor: pointer;

        h1 {
            color: #000;
        }

        .menu-svg {
            filter: invert(0%);
        }
    }
}

.nosotros {
    background-image: url('/assets/images/nosotros-paper-bg.png');
    background-color: #313233;
    overflow: hidden;
    height: fit-content;
}

/*Spinning words*/
.words h1 {
    animation: spin_words 7s infinite;
}

@keyframes spin_words {
    10% {
        transform: translateY(-112%);
    }

    25% {
        transform: translateY(-100%);
    }

    35% {
        transform: translateY(-212%);
    }

    50% {
        transform: translateY(-200%);
    }

    60% {
        transform: translateY(-312%);
    }

    75% {
        transform: translateY(-300%);
    }
}

.team-div {
    opacity: .8;
    transition: all 300ms ease-in-out;
    width: fit-content;
    position: absolute;

    .team {
        position: relative;
        z-index: 2;
    }

    .team-s {
        position: relative;
    }

    .team-h1 {
        position: relative;
        z-index: 3;
        -webkit-text-stroke: 1px #FFF;
        color: transparent;
    }

    &:hover {
        opacity: 1;

        .team-h1 {
            color: #FFF;
        }
    }
}
//Componente base

.basecomp-r {
    width: 100%;
    display: flex;
    flex-direction: column;
    position: relative;
    justify-content: end;
    align-items: center;
    background-image: url('/assets/images/paper-bg.png');

    h1 {
        font-weight: bold;
        color: black;
    }

    p {
        color: #000;
    }

    a {
        width: fit-content;
    }
}

.lines-bg {
    position: absolute;
    right: 0;
    height: 100%;
    width: 250px;
}

.nosotros-img {
    height: 100%;
}

.red {
    position: absolute;
    background-color: $main-red;
    width: 102vw;
    height: 100px;
    bottom: 15%;
    right: -1%;
    transform: rotate(-6.36deg);
    display: flex;
    align-items: center;

    h1 {
        -webkit-text-stroke: 1px white;
        color: transparent;
        font-size: 32px;
        margin: 0 auto;
        overflow: hidden;
    }
}

//Redes
.redes {
    height: 100vh;
    background-image: url('/assets/images/redes.png');
    background-size: cover;
    background-position: center;
    overflow: hidden;
    position: relative;
}


.telefono-overlay {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 2px;
    z-index: 10;
    background-color: #000000;
    transform: scale(-0.69);
    opacity: .3;
    transition: opacity 300ms ease-in-out;

    &:hover {
        opacity: 0;
    }
}

//footer
.footer-image {
    position: absolute;
    top: 0;
    left: 12%;
}

.footer-a:hover {
    text-decoration: underline;
    cursor: pointer;
    margin: 4px 0;
}

.footer-list {
    color: #000;

    ul {
        padding: 0 2em;
        display: flex;
        flex-direction: column;
    }
}

.equipo {
    h1 {
        font-size: 36px;
        padding-top: 2em;
        line-height: normal;
    }
}

//Mobile
@media (max-width: 600px) {

    .image1 {
        background-size: auto;
        background-position: top;
    }

    .image2 {
        background-size: contain;
    }



    .menu-section {
        width: 80px;
        height: 300px;

        h1 {
            font-size: 24px;
            top: 75%;
        }

        .sustentable {
            top: 71%;
            left: 15%;
        }
    }

    .scrolltext-container {
        height: 12vh;
    }

    .conocenos {
        h1 {
            font-size: 50px;
        }
    }

    .rightToLeft {
        animation: rightToLeft 35s infinite linear;
    }


    .menu-title {
     font-size: 24px;
    }

    .red {
        height: 70px;
        bottom: 0;
        overflow: hidden;

        h1 {
            -webkit-text-stroke: 1px white;
            color: transparent;
            position: absolute;
            font-size: 18px;
            overflow: hidden;
            width: max-content;
        }
    }

    .footer-list {
        ul {
            padding: 1em 0;
        }
    }

    .redes {
        background-position: 65%;
    }

    .telefono-overlay {
        position: absolute;
        z-index: 10;
        background-color: #000000;
        opacity: .2;
        transition: opacity 300ms ease-in-out;
    }

    .basecomp-r {
        h1 {
            font-size: 24px;
            line-height: normal;
            font-weight: 700;
            width: 100%;
        }
    }

    .lines-bg {
        display: none;
    }

    .close-svg-modal {
        top: 20px;
    }

    .menudark {
        background-color: #000;
    }
}

//Dark mode
.checkbox {
    opacity: 0;
    position: absolute;
}

.checkbox-label {
    background-color: #111;
    width: 55px;
    height: 28px;
    border-radius: 50px;
    position: relative;
    border: 1px white solid;
    padding: 2px 5px;
    cursor: pointer;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.moon {
    width: 16px;
    height: 16px;
    path {
        fill: white;
    }
}

.sun {
    width: 16px;
    height: 16px;
    path {
        fill: white;
    }
}

.checkbox-label .ball {
    background-color: #fff;
    width: 22px;
    height: 22px;
    position: absolute;
    left: 2px;
    top: 2px;
    border-radius: 50%;
    transition: transform 0.2s linear;
}

.checkbox:checked + .checkbox-label .ball, .dark .ball {
    transform: translateX(26px);
}